.container-fluid{
    width: 45%;
    margin-left: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 3px;
}

tr:nth-child(even){background-color: #5757AC}

th {
    background-color: lightseagreen;
    color: white;
}
input[type=text] {
   /* width: 25%;
    padding: 12px 10px;
    margin: 1px 0;*/
    display: inline-block;
    
    border-radius:10px;
    box-sizing: border-box;
}
label {
    font-weight: bold;
    color: #444;
    font-size: 12px;
}
input[type=number] {
       padding: 8px 10px;
  /*  width: 25%;
    padding: 12px 10px;
    margin: 1px 0;*/
    display: inline-block;
    
    border-radius: 10px;
    box-sizing: border-box;
}
#cmbTipo
{  padding: 8px 6px;
       /*width: 25%;
  
    margin:  0;*/
    display: inline-block;
    
    border-radius: 10px;
    box-sizing: border-box;
}
.sinError{
  border: 1px solid #00f;
}
.error{
  border: 1px solid red;
}









